body {
  font-family: Bahnschrift, Roboto, sans-serif;
  text-align: center;
  padding: 10px;
  margin: 0;
  background: #f7f7f2;
  overflow-x: hidden;
}

.all-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.stat { 
  font-size: 24px;
  margin: 20px auto;
  color: #442a6e;
  max-width: 600px;
}

h1 {
  color: #442a6e;
  margin-bottom: 30px;
}

button {
  background-color: #442a6e;
  color: #f7f7f2;
  width: 35px;
  height: 35px;
  border-radius: 75px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  margin-top: 20px;
}

button#reset-crochet-stats {
  background-color: #442a6e;
  color: #f7f7f2;
  width: 160px;
  height: 35px;
  border-radius: 75px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  margin-top: 20px;
}

button:hover, button#reset-crochet-stats:hover {
  background-color: #f5efe1;
  color: #442a6e;
  transform: scale(1.1);
}
